joblib==1.4.2
keras==3.5.0
matplotlib==3.9.2
nltk
numpy==1.23.5
pandas==2.2.2
scikeras==0.13.0
seaborn==0.13.2
statsmodels==0.14.2
tensorflow==2.16.2
torch==2.2.2
tqdm==4.66.5
yfinance==0.2.41
TA-Lib==0.4.32
transformers==4.33.0
scikit-learn==1.5.1
python-dotenv==1.0.1

google-cloud-bigquery==3.10.0
google-auth==2.23.4
pandas-gbq==0.19.0
tslearn==0.6.0
pickle5==0.0.12
yahoo-fin==0.8.9.1
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==2.0.0
